#header-container{

}

#title-area{
    padding: 25px 0px 20px 110px;
    float: left;
}

#title-area img{
    height: 19px;
}

#menu-bar{
    float: right;
}
#menu-bar img{
    width: 50px;
    height: 40px;
    padding: 18px 115px 20px 0px;
}
.clearfix{
    clear: both;
}

#header-middle{
    height: 870px;
    background-image: url("http://uploads.webflow.com/58e660e85f1ee2ef42d0321d/58fbd2c620114a4be0c41883_aaron-birch-230226%20(1).jpg");
}
#header-middle-content{
    display: block;
    margin: auto;
    border: 1px solid red;
    width: 490px;
}
#header-middle h1{
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 59px;
    color: #fff;
    margin: auto;
    display: block;
}

#header-middle p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 2.5px;
    text-align: center;
}

#header-middle a{
    font-family: 'Montserrat', sans-serif;
    padding: 20px 15px 17px 15px;
    background: #2F2E2C;
    letter-spacing: 2.5px;
}